<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>Create Products - Admin</title>
    <link rel="stylesheet" />
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      $(document).ready(() => {
        const avatarFile = $("#avatarFile");
        avatarFile.change(function (e) {
          const imgURL = URL.createObjectURL(e.target.files[0]);
          $("#avatarPreview").attr("src", imgURL);
          $("#avatarPreview").css({ display: "block" });
        });
      });
    </script>
  </head>

  <body class="sb-nav-fixed">
    <%- include('../layout/header'); -%>
    <div id="layoutSidenav">
      <%- include('../layout/sidenav'); -%>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Manage Products</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
              <li class="breadcrumb-item active">
                <a href="/admin/product">Products</a>
              </li>
            </ol>
            <div class="row">
              <div class="col-6 mx-auto">
                <div class="container mt-5" style="max-width: 600px">
                  <h5 class="mb-4">Create a new product</h5>

                  <form
                    action="/admin/create-product"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    <!-- NAME -->
                    <div class="mb-3">
                      <label class="form-label">Product name:</label>
                      <input
                        name="name"
                        type="text"
                        class="form-control"
                        placeholder="Enter product name"
                        required
                      />
                    </div>

                    <!-- PRICE -->
                    <div class="mb-3">
                      <label class="form-label">Price:</label>
                      <input
                        name="price"
                        type="number"
                        class="form-control"
                        placeholder="Enter price"
                        required
                      />
                    </div>

                    <div class="row">
                      <div class="mb-3 col-6">
                        <label class="form-label">Brand</label>
                        <select name="brand" class="form-select">
                          <option value="NIKE">Nike</option>
                          <option value="ADIDAS">Adidas</option>
                          <option value="PUMA">Puma</option>
                          <option value="REEBOK">Reebok</option>
                          <option value="CONVERSE">Converse</option>
                          <option value="VANS">Vans</option>
                        </select>
                      </div>
                      <div class="mb-3 col-6">
                        <label class="form-label">Purpose</label>
                        <select name="target" class="form-select">
                          <option value="THE-THAO">Thể thao</option>
                          <option value="DI-HOC-DI-LAM">Đi học - Đi làm</option>
                          <option value="THOI-TRANG">Thời trang</option>
                          <option value="DA-NGOAI">Dã ngoại / Trekking</option>
                          <option value="DOANH-NHAN">
                            Doanh nhân / Sang trọng
                          </option>
                          <option value="THOAI-MAI">
                            Thoải mái - Đi nhiều
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="mb-3 col-6">
                        <label class="form-label">Quantity</label>
                        <input
                          type="number"
                          class="form-control"
                          name="quantity"
                          placeholder="Enter quantity"
                          required
                        />
                      </div>
                      <div class="mb-3 col-6">
                        <label class="form-label">Short description</label>
                        <input
                          type="text"
                          class="form-control"
                          name="shortDesc"
                          placeholder="Short description"
                          required
                        />
                      </div>
                    </div>

                    <!-- DETAIL DESC -->
                    <div class="mb-3">
                      <label class="form-label">Detail description</label>
                      <textarea
                        name="detailDesc"
                        class="form-control"
                        rows="3"
                        placeholder="Enter detailed description"
                        required
                      ></textarea>
                    </div>

                    <!-- IMAGE -->
                    <div class="mb-3">
                      <label for="formFile" class="form-label"
                        >Product image</label
                      >
                      <input
                        name="avatar"
                        class="form-control"
                        type="file"
                        id="avatarFile"
                        accept=".png, .jpg, .jpeg"
                      />
                    </div>
                    <img
                      style="max-height: 250px; display: none"
                      alt="avatar preview"
                      id="avatarPreview"
                    />

                    <!-- BUTTON -->
                    <button type="submit" class="btn btn-warning">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include('../layout/footer'); -%>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/admin/js/scripts.js"></script>
  </body>
</html>
